#img { 
  width: 90px;
  height: 90px;
  position: absolute;
  left: 800px;
  bottom: 400px;

}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

#title 
{
position:relative;
left:450px;
}

h3 {
  margin: 0; 
}

h2
{
padding-left:5px;
background-color:black;
color:white;
border-radius:5px;
width:920px; 
}

#last
{
display:flex;
width: 920px;
}

.I
{
width:50%;
}